div {
  border-radius: 5px;
  background-color: #e6e4e4;
  padding: 20px;
}

label {
  font-size: 115%;
  font-weight: bold;
  margin: 0 0 0 .4%;
}

input {
  width: 99%;
  padding: 12px 20px;
  margin: 15px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  font-size: 110%;
  font-weight: bold;
  width: 50%;
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 3% 0 3% 22%;
  border: none;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #c72c21;
}